.custom-step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #219395;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    font-size: 13px;
  }
  