.custom-step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #219395;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  font-size: 13px;
}
.cPctGk {
  background-image: url("https://spotter.ai/static/media/background.053b8effeadc141e3bfb9383740b1c28.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 130px;
  z-index: -1;
}
